<template>
  <div>
    <div class="row" id="landing">
      <div class="col-md-4 avatar">
        <img
          class="pull-left wow fadeIn img-responsive"
          data-wow-duration="3s"
          data-wow-delay="0s"
          :src="photos[0]"
        >
      </div>
      <div class="col-md-8 wow fadeIn" data-wow-duration="3s" data-wow-delay="1s">
        <div class="intro">
          <!-- <p>Next generation phone</p> -->
          <h1>{{name}}</h1>
          <p>Brilliant. In every way.</p>
          <cart-button></cart-button>
        </div>
      </div>
    </div>
    <div class="row" id="second">
      <div class="col-md-5" style="padding-top:100px">
        <img
          class="pull-left wow slideInLeft img-responsive"
          data-wow-duration="4s"
          data-wow-delay="1s"
          :src="photos[1]"
        >
      </div>
      <div class="col-md-7 intro wow slideInRight" data-wow-delay="3s" data-wow-duration="2s">
        <h1>Stylish!</h1>
      </div>
    </div>
  </div>
</template>

<script>
import CartButton from '../components/CartButton';

export default {
  name: 'home',
  data() {
    return {
      name: 'Iphone X',
      photos: ['../../static/iphone-x-64gb-1-400x460.png', '../../static/iPhoneStyle.png'],
    };
  },
  components: {
    'cart-button': CartButton,
  },
};
</script>
<style>
#landing,
#second {
  height: 100vh;
}
#second {
  background-color: #000;
  color: #fff;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.avatar {
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  /* padding-top: 50px; */
}
.intro {
  padding-top: 70px;
  /* float: right; */
  width: fit-content;
}
.intro h1 {
  font-size: 6.4rem;
  line-height: 1.2;
  font-weight: 600;
}
.intro p {
  font-size: 75px;
  line-height: 1.05;
  font-weight: 100;
  letter-spacing: -0.015em;
  margin-top: 50px;
}
</style>
