<template>
  <div>
    <button v-if="isClicked" @click="addToCart" class="button">
      <i class="fa fa-cart-plus"></i> Buy Now!
    </button>
    <button v-else class="button button-danger" @click="addToCart">
      <i class="fa fa-trash"></i> Buy Later
    </button>
  </div>
</template>
<script>
export default {
  data() {
    return {
      val: true,
    };
  },
  computed: {
    isClicked() {
      return this.val;
    },
  },
  methods: {
    addToCart() {
      this.val = !this.val;
    },
  },
};
</script>

